@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geologica", serif;
  background-color: rgb(19, 19, 19);
  overflow-x: hidden;
  /* cursor: none; */
}

.name {
  font-size: 10rem;
  color: white;
  font-weight: bolder;
  letter-spacing: -1rem;
}

.main {
  opacity: 40%;
  position: absolute;
  top: 0;
  /* background-color: aqua; */
  overflow: hidden;
  height: 100vh;
}

.box1 {
  user-select: none;
  animation: scroll 10s linear infinite;
}

.box2 {
  user-select: none;
  animation: scroll 15s linear infinite;
}

.box3 {
  user-select: none;
  animation: scroll 20s linear infinite;
}

.hello {
  -webkit-user-drag: none;
  /* user-drag: none;
  user-select: none;
  -moz-user-select: none; */
  /* -webkit-user-select: none;
  -ms-user-select: none; */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}



::selection {
  color: black;
  background: white;
}

.text {
  background: -webkit-linear-gradient(-86deg, #EEF85B 10%, #7AEC8D 55%, #09E5C3 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: rgb(19, 19, 19);
  user-select: none;

}

.admin {
  box-shadow: 10px 10px white;
}